<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <img class="image" src="../../../assets/logo.jpg">
      <a class="navbar-brand logotext active" href="#">EDUORG</a>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
      <input class="form-control custom-input" placeholder="Search Your course" type="text">
    </div>
    <ul class="nav justify-content-center sidenav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Course</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contactUs" routerLinkActive="active">Contact Us</a>
      </li>
      <li class="nav-item login">
        <button class="btn btn-info custom-btn" routerLink="/login" routerLinkActive="active">Login</button>
      </li>
      <li class="nav-item">
        <button class="btn custom-btn" routerLink="/singUp" routerLinkActive="active">Sign Up</button>
      </li>
    </ul>
  </div>
</nav> -->

<div class="header shadow-lg p-3 rounded">
  <a href="#default" class="logo">EDUORG</a>
  <div class="header-right">
    <a class="active" routerLink="/home" routerLinkActive="active">Home</a>
    <a href="#contact">Courses</a>
    <a routerLink="/contactUs" routerLinkActive="active">Contact Us</a>
    <a routerLink="/aboutUs" routerLinkActive="active">About Us</a>
    <button class="btn btn-info custom-btn btn-mobile" routerLink="/login" routerLinkActive="active">Login</button>
    <button class="btn custom-btn" routerLink="/singUp" routerLinkActive="active">Sign Up</button>
  </div>
</div>