<div class="row" style="margin-right:0px;">
  <div class="column" style="margin-left:2%;">
    <div class="card">
      <img src="../../../assets/suraj.jpg" class="img-responsive" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Jane Doe</h2>
        <p class="title">CEO &amp; Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../../assets/suraj.jpg" class="img-responsive" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../../assets/suraj.jpg" class="img-responsive" alt="John" style="width:100%">
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column" style="margin-right:2%;">
    <div class="card">
      <img src="../../../assets/suraj.jpg" class="img-responsive" alt="John" style="width:100%">
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<!-- <div class="build_text">
    <h3 style="font-size: 1.8rem;">Build in-demand skills and earn valuable credentials</h3>
  </div>
  <div class="join_text">
    <button class="btn btn-info btn-lg" routerLink="/login" routerLinkActive="active">Join for free</button>
  </div> -->
<!-- </div> -->